@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Mobile view */

@media only screen and (max-width: 700px) {
    .firstimg{
        width:90%;
    }
    .countries{
        width:100%;
        height: 40px;
    }
    .check1{
        padding-bottom: 2%;
    }
    .check2{
        padding-bottom: 2%;
    }
    .greenbtn{
        margin-bottom: 2%;
        
    }
    .bluebtn{
        display: block;
        margin-bottom: 2%;
        
    }
    .select{
        font-family: 'Nunito Sans', sans-serif;
        color: #46738F;
    }
    .select2{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 15px;
    }
    .quick{
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 23px;
    }
    .pass123{
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 25px;
        padding-bottom: 1%;
    }
    .steps{
        font-family: 'Inter', sans-serif;
        font-size:13px;
    }
}

/* Web view */
@media only screen and (min-width: 701px) {
    .firstimg{
        width:50%;
    }
    .countries{
        width:34%;
        height:40px ;
    }
    .check1{
        padding-left: 5%;
        padding-bottom: 2%;
    }
    .check2{
        padding-left: 39%;
        padding-bottom: 2%;
    }
    .startbtn{
        padding-left: 38%;
       

    }
    .greenbtn{
        width: 32%;
    }
    .bluebtn{
        width: 32%;
        margin-left: 2%;
    }

    .select{
        font-family: 'Nunito Sans', sans-serif;
        color: #46738F;
    }
    .select2{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 20px;
    }
    .quick{
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 23px;
    }
    .pass123{
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 28px;
        padding-bottom: 1%;
    }

    .steps{
        font-family: 'Inter', sans-serif;
        font-size:14px;
    }

}
